@import "../../Shared/variables.scss";

.activityLog {
  background: rgba(255, 255, 255, 0.3);
  color: $white;
  width: 55%;
  height: 250px;
  border-radius: 25px;
  overflow: auto;
}

.transactionDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  border-bottom: 1px solid $secondary-purple;

  .participants {
    max-width: 80%;
    overflow: visible;
    white-space: normal;

    .embolden {
      font-weight: bold;
    }
  }
}

.scrollableLog {
  overflow-y: auto;
  height: calc(100% - 56px);
  margin-right: 10px;
  font-family: "Roboto";
  font-size: 12px;
  margin: auto 10px;
}

.scrollableLog::-webkit-scrollbar {
  width: 10px;
  border: 2px solid $white;
  border-radius: 10px;
}

.scrollableLog::-webkit-scrollbar-thumb {
  background-color: $white;
  border-radius: 10px;
}

.activityHeaders {
  font-family: "Roboto";
  font-size: 14px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5% 12%;
  border-radius: 25px;
  border-bottom: 1px solid $primary-purple;

  p {
    margin: 0 0;
  }
}

.User-avatar {
  padding: 5px 5px;
  border-radius: 10px;
  max-width: 30px; 
  max-height: 30px;
}

.timestamp {
  margin-right: 5%;
}


@media screen and (max-width: $mobile) {

  .activityLog{
    width: 90vw;
  }
  .activityLogContainer {

    .btn {
      border-radius: 30px;
      text-align: center;
      background: $secondary-purple;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      transition:0.5s;

        &:active,&:hover {
          color:$primary-purple;
          text-decoration: none;
          color:$white;
        }

    }
  }

}