@import "../../Shared/variables.scss";

.shopItem {
  .shopItemCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 12px;
    max-height: 180px;
    max-width: 180px;
    min-height: 140px;
    min-width: 140px;
    padding: 10px;
    cursor: pointer;
    color: $white;
    opacity: 1;
    text-align: center;

    .shopItemType {
      font-family: "Roboto";
      font-weight: $bold;
      text-align: right;
    }

    img {
      align-self: center;
      height: 64px;
      width: 64px;
      color: #ffffff;
      margin-bottom: 10px;
    }

    i {
      font-size: 48px;
      color: #ffffff;
      margin-bottom: 10px;
    }

    .shopItemDetails {
      font-family: "Roboto";
      text-align: left;
      margin: 0;
      font-weight: $regular;

      .shopItemName {
        font-weight: $bold;
      }

      p {
        margin: 0;
      }
    }
    .shopitem-hovered {
      opacity: 0;
      // opacity:0.9;
      // background:rgba(50, 146, 225,0.9);
      background: #712ebd 0% 0% no-repeat padding-box;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: 0.5s ease-in-out;
      font-family: "Roboto";
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: inherit;
      border-radius: inherit;

      .shopitem-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 5px;

        .shopItemButton {
          display: table;
          border-radius: $border-radius;
          background: $white;
          border: 2px solid $white;
          padding: 4px;
          width: 80%;
          text-align: center;
          transition: 0.5s ease;

          p {
            display: table-cell;
            // color:$lighter-blue;
            color: #712ebd;
            font-weight: $bold;
            margin: 0;
            font-size: 12px;
            text-transform: uppercase;
          }

          &:hover {
            background: transparent;

            p {
              color: $white;
            }
          }
        }
      }

      .shopitem-hoveredInfo {
        p {
          margin: 0;
          text-shadow: 1px 1px 1px black;
        }

        .shopitem-infoText {
          font-size: 12px;
        }

        .shopitem-tokenValue {
          font-weight: $bold;
        }
      }
    }
  }
  .shopItemCard:hover {
    .shopitem-hovered {
      opacity: 1;
      // opacity: 0.9;
    }
  }
  /*.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}*/

  @media screen and (max-width: $mobile) {
    .shopItemCard {
      height: 140px;
      width: 140px;
      font-size: 10px;

      i {
        font-size: 32px;
      }
    }
  }
}
