.badge-text{
/* top: 183px; */
/* left: 220px; */
width: 242px;
height: 48px;
text-align: left;
/* font: Bold 36px/61px Roboto; */
font: Bold 20px/39px Roboto; 
letter-spacing: 0.36px;
/* color: #FFFFFF; */
color:white;
opacity: 1;
margin-bottom:20px;
}

/* moram skontat kako da mi badgevi budu responsive */

.badge1{
    /* display:flex; */
    width: 76px;
    height: 94px;
    /* width:100%; */
    /* min-width:50px; */
    /* height:auto; */
    /* height:auto; */
    background: transparent url( '../../Assets/mark.svg' );
    /* background-repeat:no-repeat; */
    /* background-size:contain; */
    /* background-position:center; */
    
    opacity: 1;
}
.badge2{
    /*top: 276px;
    left: 416px;*/
    width: 55px;
    height: 94px;
    opacity: 1;
    background: transparent url( '../../Assets/medal.svg' );
}
.badge3{
    width: 94px;
    height: 93px;
   
    background: transparent url( '../../Assets/quality-assurance.svg' );
    opacity: 1;
    /* margin-right:20px; */
}
.badges-in-use-container{
     /* top: 257px;  
     left: 220px; 
    width: 449px;
    height: 133px;
    opacity: 1;*/
    display:flex;
}
.badge-container1{
        display:flex;
        justify-content: space-around;
        align-items: center;
        object-fit: contain;
        /* width: 134px; */
        /* height: 133px; */
        /* margin-right: 20px; */
        /* width:100px; */
        /* height:100px; */
        min-width:100px;
        height:auto;
        background: #461864 0% 0% no-repeat padding-box;
        border-radius: 18px;
        opacity: 1;
    
}
.badge-container2{
        display:flex;
        justify-content: space-around;
        align-items: center;
        /* width: 133px; */
        /* height: 133px; */
        /* width:100px; */
        /* height:100px; */
        min-width:100px;
        height:auto;
        background: #461864 0% 0% no-repeat padding-box;
        border-radius: 18px;
        opacity: 1;
}
.badge-container3{
        display:flex;
        justify-content: space-around;
        align-items: center;
        /* width: 133px; */
        /* height: 133px; */
        /* width:100px; */
        /* height:100px; */
        min-width:100px;
        height:auto;
        background: #461864 0% 0% no-repeat padding-box;
        border-radius: 18px;
        opacity: 1;
        margin-right: 40px;
}