@import '../../Shared/variables.scss'; 
.badge-text{
/* top: 183px; */
/* left: 220px; */
width: 242px;
// height: 48px;
text-align: left;
/* font: Bold 36px/61px Roboto; */
font: Bold 20px/39px Roboto; 
letter-spacing: 0.36px;
/* color: #FFFFFF; */
color:white;
opacity: 1;
margin-bottom:0px;
}

/* moram skontat kako da mi badgevi budu responsive */
i{
    font-size:50px;
    color:$lighter-blue;
}

.badges-in-use-container{
     /* top: 257px;  
     left: 220px; 
    width: 449px;
    height: 133px;
    opacity: 1;*/
    // justify-content:space-between;
    // display:flex;
    // ova dva iznad umjesto ova tri ispod
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap:10px;
    margin-bottom: 10px;
    // justify-content: center;
}
.badge-container{
        display:flex;
        justify-content: center;
         align-items: center; 
        box-sizing:border-box;
        // box-sizing:square;
        min-width:100px;
        min-height:100px;
        // width:10vw;
        // height:10vw;
        // min-width:50px;
        // min-height:50px;
        max-width:100px;
        max-height:100px;
         background: #461864 0% 0% no-repeat padding-box; 
        // background:black;
        border-radius: 18px;
        opacity: 1;
    
}
@media only screen and (max-width: 768px) {
    i{
        font-size:45px;
    }
    .badge-container{
        min-width:80px;
        min-height:80px;
        max-width: 80px;
        max-height:80px ;
        // width:80px;
        // height:80px;
        border-radius:6px;
    }
    .badge-text{
        font: Bold 10px/20px Roboto; 
    }
  }
@media only screen and (max-width: $mobile ) {
    i{
        font-size:45px;
    }
    .badge-container{
        min-width:60px;
        min-height:60px;
        max-width: 60px;
        max-height:60px ;
        border-radius:6px;
    }
    .badge-text{
        font: Bold 10px/20px Roboto; 
    }
  }