@import "../../../Shared/variables.scss";


.modal {
    display:none;
    box-shadow: none;
    background-color: transparent;
    font-family: "Roboto";
}

.modal-body {
    white-space: normal;
}

.activateModal {

    .modal-header {
        font-weight: $bold;
        text-align: center;
    }

    .modal-content {
        border-radius: 40px;
    }

    .modal-body {
        font-weight: $regular;
    }

    .modalSpan {
        font-weight: $bold;
    }

    .modalButton {
        font-family:"Roboto";
        border-radius: $border-radius;
        background:$secondary-purple;
        transition:0.5s ease;
        text-align: center;
        padding:10px;
        width:50%;
        cursor:pointer;
        margin-top:10px;

        p {
            color:white;
            font-weight: $bold;
            margin:0;
        }

        &:hover {
            opacity:0.8;
        }
    }
}