.skin-text{
        width: 191px;
        height: 48px;
        text-align: left;
        /* font: Bold 36px/61px Roboto; */
        font: Bold 20px/39px Roboto;
        letter-spacing: 0.36px;
        /* color: #FFFFFF; */
        color:white;
        opacity: 1;
        margin-bottom:20px;
}

.skin-container{
        display:flex;
        justify-content: space-around;
        align-items: center;

        width: 100px;
        height: 100px;
        /* background: #FFFFFF 0% 0% no-repeat padding-box; */
        background:white; 
        /* privremeno crna boja u upotrebi jer nam je trenutno podloga bjela */
        border-radius: 18px;
        margin-right:40px;
        opacity: 1;
}
.skin1{
        width: 90px;
        height: 90px;
        background: #2B0D41 0% 0% no-repeat padding-box;
        border-radius: 18px;
        opacity: 1;
}