@import "../../Shared/variables.scss";

.badgeHolder {
  width: 70px;
  height: 70px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 15%;
  border: 1px solid #350f4e;
  background-color: $primary-purple;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease-in-out;

  img {
    height: 42px;
    width: 42px;
  }

  .activeBadge,
  .inactiveBadge {
    height: 100%;
    width: 100%;
    border-radius: 15%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: normal;

    .modal-header {
      text-align: center;
    }

    .modalClick {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-radius: $border-radius;
    }

    img {
      height: 42px;
      width: 42px;
    }
    .activeBadge,
    .inactiveBadge {
      height: 100%;
      width: 100%;
      border-radius: 15%;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      text-align: center;

      p {
        white-space: normal;
      }
    }

    .modalClick {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-radius: $border-radius;
    }

    i {
      font-size: 32px;
      color: $lighter-blue;
      transition: 0.5s ease-in-out;
    }
  }

  &:hover {
    background: $lighter-blue;

    i {
      color: $primary-purple;
    }
  }
}

.bold {
  font-weight: $bold;
}

.badgeModal {
  p {
    white-space: normal;
  }
  .modalBodyButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .modalButton {
    font-family: "Roboto";
    border-radius: $border-radius;
    background: $secondary-purple;
    transition: 0.5s ease;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 40%;

    p {
      color: white;
      font-weight: $bold;
      margin: 0;
    }

    &:hover {
      background: $lighter-blue;
    }
  }

  .actionButton {
    width: 100%;
  }
}
