@import "../../../Shared/variables.scss";

.giftModal {
  .modal {
    display: none;
    background: transparent;
    box-shadow: none;
    font-family: "Roboto";
  }

  .modal-header {
    font-weight: $bold;
    text-align: center;
  }

  .modal-content {
    border-radius: 40px;
  }

  .modal-body {
    font-weight: $regular;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;

    .giftTo {
      float: right;

      input {
        width: 80%;
      }

      .giftToUserList {
        position: fixed;
        max-height: 250px;
        overflow-y: auto;
        background-color: white;

        li {
          white-space: normal;
          padding: 2.5px;

          &:hover {
            background: $secondary-purple;
            color: white;
            cursor: pointer;
          }
        }
      }
      .giftToUserList::-webkit-scrollbar {
        width: 10px;
        border: 2px solid $secondary-purple;
        border-radius: 10px;
      }

      .giftToUserList::-webkit-scrollbar-thumb {
        background-color: $secondary-purple;
        border-radius: 10px;
      }
    }

    .giftItem {
      float: right;

      .selectItemCard {
        position: relative;
        box-sizing: border-box;
        border-radius: 10px;
        width: 120px;
        height: 120px;
        max-height: 180px;
        max-width: 180px;
        min-height: 140px;
        min-width: 140px;
        cursor: pointer;
        padding: 10px;
        float: right;
        box-shadow: 2px 5px 5px #888888;

        .noSelectedItemIcon {
          width: 25%;
          top: 0px;
          right: 0px;
          float: right;
        }

        .selectedItemIcon {
          align-self: center;
          height: 64px;
          width: 64px;
          color: #ffffff;
          margin-bottom: 10px;
        }
      }
    }
  }

  .modalSpan {
    font-weight: $bold;
  }

  .modalButton {
    font-family: "Roboto";
    border-radius: $border-radius;
    background: $secondary-purple;
    transition: 0.5s ease;
    text-align: center;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    margin-top: 10px;

    &.cancel {
      background-color: crimson;
    }

    p {
      color: white;
      font-weight: $bold;
      margin: 0;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
