.confirmation-text{
    font-size:25px;
     margin-top:40px;
     white-space: normal;
    // margin-bottom: 20px;
}
.tmp{
    // word-wrap: break-word;
}
.modal-content{
    border-radius:20px;
}
.btn-secondary{
   
}
.btn-primary{
    
}
.yes-button{
    border-radius:40px;
    width:100px;
    background: #712EBD 0% 0% no-repeat padding-box;
    
}
.no-button{
    border-radius:40px;
    width:100px;
    //  text-align:center;
    // border: 2px solid #712EBD;
    // background-color:white;
    background: #712EBD 0% 0% no-repeat padding-box;
}
