@import "../../Shared/variables.scss";

.itemCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 12px;
  max-height: 180px;
  max-width: 180px;
  min-height: 140px;
  min-width: 100px;
  padding: 10px;
  cursor: pointer;
  color: $white;
  opacity: 1;
  text-align: center;

  .itemType {
    font-family: "Roboto";
    font-weight: $bold;
    text-align: right;
  }

  img {
    align-self: center;
    height: 64px;
    width: 64px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .itemDetails {
    font-family: "Roboto";
    text-align: left;
    margin: 0;
    font-weight: $regular;

    .itemName {
      font-weight: $bold;
    }

    p {
      margin: 0;
    }
  }

  .hovered {
    opacity: 0;
    background: rgba(50, 146, 225, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in-out;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: inherit;
    border-radius: inherit;

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 5px;

      .itemButton {
        display: table;
        border-radius: $border-radius;
        background: $white;
        border: 2px solid $white;
        padding: 4px;
        width: 80%;
        text-align: center;
        transition: 0.5s ease;

        p {
          display: table-cell;
          color: $lighter-blue;
          font-weight: $bold;
          margin: 0;
          font-size: 12px;
          text-transform: uppercase;
        }

        &:hover {
          background: transparent;

          p {
            color: $white;
          }
        }
      }
    }

    .hoveredInfo {
      p {
        margin: 0;
        text-shadow: 1px 1px 1px black;
      }

      .infoText {
        font-size: 12px;
      }

      .tokenValue {
        font-weight: $bold;
      }
    }
  }
}

.itemCard:hover {
  .hovered {
    opacity: 1;
  }
}

@media screen and (max-width: $mobile) {
  .itemCard {
    width: 100%;
    font-size: 10px;

    i {
      font-size: 32px;
    }

    .hovered {
      .buttons {
        .itemButton {
          padding: 2px;
          p {
            font-size: 10px;
          }
        }
      }

      .hoveredInfo {
        .infoText,
        .tokenValue {
          font-size: 10px;
        }
      }
    }
  }

    .hovered {
        display: none;
    }

    

}
