$color-primary: #614076;
$color-primary-light: #6f5081;
$color-secondary: #8ca0d7;
$color-secondary-dark: #8092c4;
$color-gray: #bdc3c7;
$color-gray-light: #c9cdd1;
$color-gray-dark: #666666;
$color-red: #fa5a6d;
$color-red-dark: #ed5567;
$color-green: #12dcaf;
$color-green-dark: #05cfa2;
$color-blue: #2d9ee5;
$color-blue-dark: #2794d8;
$color-bronze: #f2ba49;
$color-silver: #a8a8a8;
$color-gold: #ffd34d;
$color-platinum: #61b8a7;
$color-diamond: #06a6e2;
$color-master: #cc00ff;

$border-radius: 4px;
