$background-gradient: linear-gradient( to right, #461864, #5b1f5e);
$header-btn-blue: #3292E1 ;

$purple: #712EBD;

#header{
    height: 70px;
    background-image: $background-gradient;
    width: 100% !important; /* Full width */
    padding-left:0px !important;
    display:flex;
    align-items: center;
    padding: 0% !important;
    margin: 0% !important;
}
#header-container{
    padding: 0% !important;
    margin: 0% !important;
}
.header-nav-button{
    min-width: 30%;
    height: 36px;
    border-radius: 40px;
    text-align: center;
    font-size: 12px; 
    letter-spacing: 0.08px;
    color: #FFFFFF;
    opacity: 1;
    font-weight: 500;
    justify-content: center;
    font-family: 'Roboto';
}
#header-nav-purple_button{
    border: 2px solid $purple;
    background-color: transparent;
}
.header-user_name_btn{
    background-color: transparent !important;
    border: none !important;
}
#header-dropdown-item{
    font-family: 'Roboto' !important;
}
#header-nav-blue_button{
    background-color: $header-btn-blue;
}
.header-btn{
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
}
.header-search-wrapper{
    display: none;
    visibility: collapse;
}
.header-search{
    width: 100%;
    color: white;
    background-color:transparent;
    border-radius: 20px;
    border-color: purple;
    background-blend-mode: color-dodge;
}
.header-rightWrapper{
    display: flex;
    justify-content: flex-end;
    color: white;
}
.header-logo{
    max-height: 42px;
    margin:0 auto !important;
    margin-left: 30% !important;
}
.header-user-img{
    height: 50px;
     width: 50px;
    border-radius: 50%; 
}
.btn dropdown-toggle{
    background-color: "transparent";
}
#dropdownMenuButton{
     font-family: 'Roboto';
}
@media (max-width: 668px){
    .header-search-wrapper{
        background-color: $background-gradient;
        color:white;
        width: 100%;
        height: 53px;
        visibility:visible;
        padding: 0% !important;
        margin: 0% !important;
        display: flex;
    }
     #header{
        display: none,   
    }
    .header-search{
        background-image: $background-gradient;
        width: 100%;
        border-radius: 0px;
    }
  }
