@import "./variables.scss";

.inventoryContainer {
  font-family: "Roboto";
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  padding: 3% 10% 10% 10%;
  border-radius:40pt;
  background: #ffffff 0% 0% no-repeat padding-box;

  .infoSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

    .infoText {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: baseline;

      .inventoryText {
        font-weight: 700;
        font-size: 28px;
        letter-spacing: 0.36px;
        color: #712ebd;
        opacity: 1;
        margin: 0;
        margin-right: 10px;
      }

      .inventoryValue {
        font-size: 14px;
        font-weight: 200;
        letter-spacing: 0.1px;
        color: #434343;
        opacity: 1;
        margin: 0;
      }

      .tokenValue {
        font-weight: 700;
      }
    }

    .filterOptions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      vertical-align: middle;
      align-items: center;

      p {
        margin: 0;
        margin-right: 10px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.1px;
        color: #434343;

        i {
          margin: 0 5px 0 5px;
        }
      }

      p:first-child {
        color: #712ebd;
        font-weight: 700;
      }

      p:not(:first-child) {
        cursor: pointer;
      }

      p:not(:first-child):hover,
      i:hover {
        color: #712ebd;
        font-weight: 700;
      }

      .searchBoxComponent {
        display: grid;
        grid-template-columns: 20% 80%;
        align-items: center;
        background: #898b91;
        opacity: 0.5;
        border-radius: 40px;

        .searchBox {
          margin: 0;
          border: 0;
          border-radius: 40px;
        }

        .searchBox::placeholder {
          font-family: "Roboto";
          color: white;
          font-size: 14px;
          vertical-align: middle;
        }

        i {
          color: white;
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }

  .itemsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }
}

.filterOptionsMobile {
  text-align: center;    
  border-radius: 40px;
  padding:0;

  .card-header {
    color:white;
    font-weight: $bold;
    background:$secondary-purple;
    border-radius: 40px;
  }

  .card-body {
    border-radius: 40px; 
  }

  .card-body .filterOptions{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      
        i {
          margin-left:5px;
          color:$secondary-purple;
        }
    }
    
  }

  .card-body .searchBoxComponent {
    display:flex;
    flex-direction: row;
    align-items: center;

      i{
        font-size:24px;
        margin-right:5px;
        color:$secondary-purple;
      }
  }

}
.logsMobile {
  .btn {
    box-shadow: none;
  }
}


@media only screen and (max-width: 414px) {
  .inventoryContainer {
    display: flex;
    flex-direction: column;

    .infoSection {
      display: flex;
      flex-direction: column;
      text-align: center;

      .heading {
        display: flex;
        flex-direction: column;
      }
    }

    .itemsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .itemsContainer {
        padding: 10px;
      }
    }
  }
}