.inventoryContainer {
  font-family: "Roboto";
  justify-content: start;
  display: flex;
  flex-direction: column;
  padding: 3% 10% 10% 10%;
  border-top-right-radius: 40pt;
  border-top-left-radius: 40pt;
  background: #ffffff 0% 0% no-repeat padding-box;

  .infoSection {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 10px;

    h1 {
      margin:0; 
    }

    .heading {
      padding: 0;
    }

    .inventoryText {
      font-weight: 700;
      font-size: 28px;
      letter-spacing: 0.36px;
      color: #712ebd;
      opacity: 1;
      margin-right: 10px;
    }

    .inventoryValue {
      font-size: 14px;
      font-weight: 200;
      letter-spacing: 0.1px;
      color: #434343;
      opacity: 1;
    }

    .tokenValue {
      font-weight: 700;
    }

    .filterOptions {
      display:flex;
      flex-direction: row;
      justify-content:flex-end;
      vertical-align: middle;
      align-items: center;
      
      p {
        margin:0;
        margin-right:10px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.1px;
        color: #434343;
        opacity: 1;
        transition:0.2s;

        i {
          margin:0 5px 0 5px;
        }
      }
      
      p:first-child {
        color: #712ebd;
        font-weight: 700; 
      }

      p:not(:first-child) {
        cursor:pointer;
      }

      p:not(:first-child):hover,i:hover{
        color: #712ebd;
        font-weight: 700; 
      }

      .searchBoxComponent {
        display:grid;
        grid-template-columns: 20% 80%;
        align-items: center;
        background:#898B91;
        opacity:0.5;
        border-radius:30px; 

        .searchBox {
          margin:0;
          border:0;
          border-radius:30px;
        }

        .searchBox::placeholder {
          font-family: "Roboto";        
          color:white;
          font-size:14px;
          vertical-align: middle;
        }

        i {
          color:white;  
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }

  .itemsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 414px) {
  .inventoryContainer {
    display: flex;
    flex-direction: column;

    .infoSection {
      display: flex;
      flex-direction: column;
      text-align: center;

      .heading {
        display:flex;
        flex-direction: column;
      }

    }

    .itemsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .itemsContainer {
        padding: 10px;
      }
    }
  }
}
