@import "../../Shared/variables.scss";

body {
  background: #300C42;
}


.profileDisplayComponent {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  align-items: center;
  padding: 3% 10% 0 10%;
  font-family: "Roboto";

  .profilePicture {
    max-width: 160px;
    max-height: 160px;
    border-radius: 100%;
    cursor:pointer;

    &:hover {
      background:gray;
    }
  }

  .profileDetails {
    padding: 5%;

    .editProfileButton {
        border-radius: 30px;
        text-align: center;
        background: $secondary-purple;
        width: 45%;
        cursor: pointer;
        transition: 0.2s;
        margin:5px 0 5px 0;

        p {
          color: $white;
          padding: 10px;
          font-weight: $bold;
          font-size: 14px;
        }

        &:hover {
          background: rgba(112, 45, 188, 0.5);

          p {
            text-shadow: 1px 1px black;
          }

        }
    }

    .userTitle {
      color: $white;
      font-family: "Roboto";
      font-weight: $regular;
      font-size: 14px;
      margin: 5px 0 5px 0;
    }

    .username {
      color: $white;
      font-family: "Roboto";
      font-weight: $bold;
      font-size: 35px;
      margin: 5px 0 5px 0;
    }

    .tokenRelated {
      display: flex;
      flex-direction: row;
      margin:5px 0 5px 0;

      p {
        color: $white;
        font-family: "Roboto";
        font-weight: $regular;
        font-size: 14px;
        margin: 5px;
      }
    }

    .badges {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 70%;
      box-sizing: border-box;

      .badge {
        width: 70px;
        height: 70px;
        max-width: 70px;
        max-height: 70px;
        border-radius: 15%;
        background-color: $primary-purple;
        display: table;

        i {
          font-size: 32px;
          color: $lighter-blue;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
  }

  .activityLogContainer {
  
    .btn {
      box-shadow: none;
    }
    
  } 

}

.inventoryContainer {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3% 10% 10% 10%;
  border-radius:40pt;
  background: #ffffff 0% 0% no-repeat padding-box;

  .infoSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

    .infoText {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: baseline;

      .inventoryText {
        font-weight: 700;
        font-size: 28px;
        letter-spacing: 0.36px;
        color: #712ebd;
        opacity: 1;
        margin: 0;
        margin-right: 10px;
      }

      .inventoryValue {
        font-size: 14px;
        font-weight: 200;
        letter-spacing: 0.1px;
        color: #434343;
        opacity: 1;
        margin: 0;
      }

      .tokenValue {
        font-weight: 700;
      }
    }


    .filterOptionsContainer {

      .filterOptions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        vertical-align: middle;
        align-items: center;
      
        p {
          margin: 0;
          margin-right: 10px;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.1px;
          color: #434343;

          i {
            margin: 0 5px 0 5px;
          }
        }

        p:first-child {
          color: #712ebd;
          font-weight: 700;
        }

        p:not(:first-child) {
          cursor: pointer;
        }

        p:not(:first-child):hover,
        i:hover {
          color: #712ebd;
          font-weight: 700;
        }

        .searchBoxComponent {
          display: grid;
          grid-template-columns: 20% 80%;
          align-items: center;
          background: #898b91;
          opacity: 0.5;
          border-radius: 40px;

          .searchBox {
            margin: 0;
            border: 0;
            border-radius: 40px;
          }

          .searchBox::placeholder {
            font-family: "Roboto";
            color: white;
            font-size: 14px;
            vertical-align: middle;
          }

          i {
            color: white;
            text-align: center;
            font-size: 14px;
          }
        }

      }

    }



  }

  .itemsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px,180px));
    grid-auto-rows: repeat(auto-fill, minmax(160px,180px));
    justify-content: space-between;
    grid-gap:10px;
  }

}

.filterOptionsDesktop {
  display:block;
}

.filterOptionsMobile {
  display: none;
}

.logsDesktop {
  display: block;
}

.logsMobile {
  display: none;
}

 

@media screen and (max-width: $mobile) {

  .filterOptionsDesktop {
    display:none;
  }

  .filterOptionsMobile {
    display: block;
  }

  .logsDesktop {
    display: none;
  }

  .logsMobile {
    display: block;
  }


  .profileDisplayComponent {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    .profileDetails {

      .editProfileButton {
        width: 100%;
      }

      .badges {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }

    }

    .activityLogContainer {
      
      .logsDesktop {
        display: none;
      }
      
      .logsMobile {
        display: block;
      }

      .btn {
        border-radius: 30px;
        text-align: center;
        background: $secondary-purple;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        transition:0.5s;

          &:active,&:hover {
            color:$primary-purple;
            text-decoration: none;
            color:white;
          }

      }


    }
 
  }


  .inventoryContainer {
    display: flex;
    flex-direction: column;

    .infoSection {
      display: flex;
      flex-direction: column;
      text-align: center;

      .heading {
        display: flex;
        flex-direction: column;
      }
    }

    .filterOptionsContainer {

      .filterOptionsMobile {
        width: 100%;
        text-align: center;    
        border-radius: 40px;
        padding:0;
        width: 100%;
      
        .card-header {
          color:white;
          font-weight: $bold;
          background:$secondary-purple;
          border-radius: 40px;
        }
      
        .card-body {
          border-radius: 40px; 
        }
      
        .card-body .filterOptions{
          display:flex;
          flex-direction: row;
          justify-content: space-between;
      
          p {
            display: flex;
            flex-direction: row;
            align-items: center;
            
              i {
                margin-left:5px;
                color:$secondary-purple;
              }
          }
          
        }

        .card-body .searchBoxComponent {
          display:flex;
          flex-direction: row;
          align-items: center;
  
            i {
              font-size:24px;
              margin-right:5px;
              color:$secondary-purple;
            }
        }

      }
      
    }

      .itemsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
      }

    }

  
}

// .modalmodal {
//   display:none;

//   position: fixed;
//   top:0;
//   bottom:0;
//   right:0;
//   left:0;
//   overflow: hidden;
//   z-index: 2;
//   background: $primary-purple;
//   width: 100%;
//   height: 100%;
//   transition:0.5 ease;
// }


// .modalButtom {
//   background:$primary-purple;
//   cursor:pointer;
// }

// .closeButton{
//   background:white;
//   cursor:pointer;
// }