.profile-details p {
  color: white;
  font-family: "Roboto";
}

.profile-details h1 {
  color: white;
  font-family: "Roboto Light";
}

.profile-display-component {
  align-items: flex-start;
  padding-top: 2.5%;
  flex-direction: column;
  display: flex;

  .profile-display {
    display: flex;
    padding: 25px;

    .profile-picture {
      max-width: 12.5em;
      max-height: 12.5em;
      border-radius: 100%;
    }

    .profile-details {

      .token-related {
        flex-direction: row;
        display: flex;
        justify-items: center;
      }

      .badges {
        flex-direction: row;
        display: flex;

        .badge {
          width: 50px;
          height: 50px;
          max-width: 50px;
          max-height: 50px;
          margin: 0px 10px;
          background-color: white;
          border-radius: 15%;
          background-color: #2e0e53;
          display: table;

          i {
            font-size: 32px;
            color: white;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 414px) {
  .profile-display-component {
    padding-left: 10%;

    .profile-display {
      .profile-details {
        padding-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  
  .profile-display-component {
    padding-top: 15%;
    align-items: center;
    justify-content: center;
    justify-items: center;

    .profile-display {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;

      .badges {
        justify-content: center;
      }
    }
  }

  .token-related {
    justify-content: center;

    p {
      padding: 0 10px 0 10px;
    }
  }
}
