.profile-details p {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Roboto";
}

.profile-details h1 {
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Roboto Light";
}

.profile-display-component {
  align-items: flex-start;
  padding-top: 2.5%;
  flex-direction: column;
  display: flex;
  padding-left: 10%;

  .profile-display {
    display: flex;
    padding: 25px;

    img {
      max-width: 100px;
      max-height: 100px;
      border-radius: 100%;
    }

    .profile-details {
      .token-related {
        flex-direction: row;
        display: flex;
      }

      .badges {
        flex-direction: row;
        display: flex;
        
        

        .badge {
          width: 50px;
          height: 50px;
          max-width: 50px;
          max-height: 50px;
          margin: 0px 10px;
          background-color: white;
          border-radius: 15%;
          background-color: #2e0e53;
          display: table;

          i {
            font-size: 32px;
            color: white;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
          }
        }
      }

      
    }
  }
}

@media screen and (max-width: 415px) {
  .profile-display-component {
    .profile-display {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;

      .badges {
        justify-content: center;
      }
      
    }
  }
}
