// Fonts 
    $light:300;
    $regular:400;
    $bold:700;

// Colors //

    // Blue
        $primary-blue:#2336AC;
        $secondary-blue:#0F80E2;
        $lighter-blue:#3292E1;
        $light-blue:#79BEFF;

    // Cyan
        $primary-cyan:#00E5FF;   
        $secondary-cyan:#39DEFF;

    // Green
        $primary-green:#71FF3D;

    // Orange
        $primary-orange:#F94400;
        $secondary-orange:#F69000;
        $lighter-orange:#F69000;
        $light-orange:#FFAF33;
        $secondary-light-orange:#FFAF33;

    // Purple
        $primary-purple:#461864;
        $secondary-purple:#702dbc;
        $lighter-purple:#CA24A0;
        $light-purple:#FF80BD;

    // Gray
        $primary-gray:#373737;
        $secondary-gray:#434343;
        $lighter-gray:#898B91;
        $light-gray:#A9B0BA;

    // Pink
        $primary-pink:#FF036A;
        $secondary-pink:#F8154B;
        $ligher-pink:#FF2652;
        $light-pink:#FF80BD;

    // Generic
        $white:#FFFFFF;
        $black:#000000;

        