@import "../../Shared//variables.scss";

.shop {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 13%;
  background-image: url("../../Assets/shop_background_image2.jpg");
  background-size: cover;  
  background-repeat: no-repeat;

  .available-tokens,
  .items-own {
    display:flex;
    align-items:center;
    margin-left:30px;
    text-align: left;
    p{
      font-family:'Roboto';
      font-size:15px;
      // letter-spacing: 0.1px;
      margin-bottom:0px;
    }
  
    
    margin-right: 20px;
    
    color: white;
    // margin-bottom: 20px;
  }

  .in_use {
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
  }
  .tokens_and_items{
      justify-content: center;
      text-align:center;
  }

  .token-count,
  .own-count {
    text-align: left;
    font: Bold 20px/25px Roboto;
    letter-spacing: 0.13px;
    color: white;
    flex-direction: row;
  }

  .transaction_log {
    display: flex;
    justify-content: center;
  }

  .items-in-use {
    display: inline-flex;
    flex-direction: row;
  }

  .shopContainer {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: transparentize(white, 1) 0% 0% no-repeat padding-box;

    .infoSection {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;

      .shopText {
        font-weight: 700;
        font-size: 28px;
        letter-spacing: 0.36px;
        color: white;
        opacity: 1;
        margin-right: 10px;
      }

      .filterOptionsContainer {
        .filterOptions {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          vertical-align: middle;
          align-items: center;

          p {
            margin: 0;
            margin-right: 10px;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.1px;
            color: white;

            i {
              margin: 0 5px 0 5px;
              color: white;
              text-align: center;
              font-size: 14px;
            }
          }

          p:hover {
            cursor: pointer;
            color: #712ebd;

            i {
              color: #712ebd;
            }
          }

          .searchBoxComponent {
            display: grid;
            grid-template-columns: 20% 80%;
            align-items: center;
            background: #898b91;
            opacity: 0.5;
            border-radius: 40px;

            .searchBox {
              margin: 0;
              border: 0;
              border-radius: 40px;
              background: #898b91;
            }

            .searchBox::placeholder {
              font-family: "Roboto";
              color: white;
              font-size: 14px;
              vertical-align: middle;
            }

            i {
              color: white;
              text-align: center;
              font-size: 14px;
            }
          }
        }
      }
    }

    .itemsContainer {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(160px, 180px));
      grid-auto-rows: repeat(auto-fill, minmax(160px, 180px));
      justify-content: space-between;
      grid-gap: 10px;

      #add {
        border: white solid 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        i:hover {
          color: #712ebd;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
    .filterOptionsDesktop {
      display: block;
    }
    
    .filterOptionsMobile {
      display: none;
    }

    @media only screen and(max-width: $tablets) {
      .available-tokens,
      .items-own {
        p{
          font-size:12px;
        }
      }
      .token-count,
      .own-count {
          font-size:13px;
      }

      .transaction_log {
        justify-content: space-evenly;
      }

      .infoSection {
        display: flex;
        flex-direction: column;

        .filterOptionsContainer {
          display: flex;
          flex-direction: column;

          .filterOptions {
            flex-wrap: wrap;
            align-content: flex-start;
          }
        }
      }

      .xs-column {
        display: flex;
        flex-direction: column;
      }
      
    }

    @media only screen and (max-width:480px) {
      .filterOptionsDesktop {
        display: none;
      }
    
      .filterOptionsMobile {
        display: block;
      }
        
        .available-tokens,
        .items-own {
          p{
            font-size: 1px;
          }
        }
        .token-count,
        .own-count {
          font-size: 12px;
        }
      
      .transaction_log {
        height: 250px;
      }
      .shopContainer {
        display: flex;
        flex-direction: column;

        .itemsContainer {
          display: grid;
          align-self: center;
          justify-content: center;
          grid-template-columns: 1fr 1fr;
          padding: 10px;
        }
      }
    }
  }
}
